@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display&family=Roboto:ital,wght@0,400;1,700&display=swap');



:root {
    --primary: #d64d5f;
    --secondary: #aaaaaa;
    --tertiary: #F2F2F2;
    --quaternary: #a53443;
    --quinary: #1e1e1e;

    --accent: 'Playfair Display', serif;
    --heading: 'Roboto', sans-serif;
    --paragraph: 'Open Sans', sans-serif;

}

body {
    background-color: var(--tertiary); 
    font-family: var(--paragraph);
}


.intro {
    margin-top: 7vh;
    margin-bottom: 12vh;
}

#intro {  
    font-family: var(--accent);  
    font-size: 4rem;
    font-weight: bold;
    width: 100%;
    color: var(--primary);
}

a {
    text-decoration: none;
}
h1 {
    color: var(--secondary);
    font-family: var(--heading);
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: .7rem;
    text-align: center;
    text-decoration: none;
}

h2 {
    color: var(--quinary);
    font-family: var(--heading);
    font-size: 1rem;
}

h3 {
    color: var(--quinary);
    font-family: var(--paragraph);
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: .7rem;
}

p, li{
    color: var(--quinary);
    font-family: var(--paragraph);
    font-size: .7rem;
}

img {
    width: 100%;
}

hr {
    margin: 0;
}

.container {
    margin-top: 5vh;
}

.section {
    margin-top: 16vh;
}

.btn{
    border-color: var(--primary);
    border-radius: 1rem;
    color: var(--primary);
    font-size: .7rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
    margin: 1vh 0 2vh;
}

#titel{
    margin-top: 1vh;
    text-decoration: none;
}

.cvAbout {
    display: none;
    align-content: center;
}

.cvSect {
    margin: 2vh 0;
}
.cvSect:hover .cvInfo {
    margin: 0;
}

.cvSect:hover .cvAbout {
    display: block;
}

marquee h2, .marquee h2 {
    display: initial;
    padding-right: 1vw;
    font-style: italic;
}

.marquee {
    overflow: hidden;
}

.proHead h1 {
    color: var(--quinary);
    font-family: var(--accent);
    text-transform: none;
    letter-spacing: 0rem;
    font-size: 4rem;
    text-align: center;
}

.proDis {
    display: none;
    text-align: center;
}

.proHead:hover + .proDis {
    display: block;
}

.col-6 img {
    width: 15vw;
    margin: 0 auto;
    display: block;
}

.anderepro .col-2 {
    position: relative;
    text-align: center;
}

.anderepro h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.anderepro .col-2:hover img{
    opacity: 10%;
}

.anderepro .col-2:hover h3{
    display: block;
}

.about img {
    margin: 1vw 0;
}

.about .col {
    margin: auto 0;
}

.footer{
    margin: 10vh auto 3vh;
}

.footer a, .footer h1{
    text-decoration: none;
    letter-spacing: .1rem;
}

@media screen and (max-width: 375px) {
    
    .intro {
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

    #intro {  
        font-family: var(--accent);  
        font-size: 2.4rem;
        font-weight: bold;
        width: 100%;
    }

    .cvAbout {
        width: 100%;
    }

    .project .col-6 {
        width: 100%;
    }

    .project .col-2, .col-6 img {
        width: 33.333333%;
    }

    .proHead h1 {
        font-size: 2.4rem;
    }

    
    .anderepro .col-2 {
        width: 50%;
    }

    .about .col-3 {
        width: 100%;
    }

    .about img {
        width: 50%;
        margin: 0 auto;
        display: block;
    }

    .footer .col-2 {
        width: 100%;
    }
    
    .impressum .col-2 {
        width: 100%;
    }
}